@font-face {
    font-family: "LeagueGothic";
    src: url("fonts/League_Gothic-webfont.eot") format("embedded-opentype");
    src: local("ò∫"),
        url("fonts/League_Gothic.otf") format("opentype"),
        url("fonts/League_Gothic-webfont.woff") format("woff"),
        url("fonts/League_Gothic-webfont.ttf") format("truetype"),
        url("fonts/League_Gothic-webfont.svg#webfont") format("svg");
}

html {
    background-color: #444;
    color: #CCC;
}

body {
    width: 1024px;
    margin: 0px auto;
    padding: 0;
}

h1 {
    font-family: "LeagueGothic", "Helvetica", "Verdana", "Arial", sans-serif;
    font-size: 52px;
    font-weight: normal;
    color: #999;
    border-bottom: 1px solid #CCC;
}

table.inputform {
    border: 0px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    color: inherit;
}

table.inputform td {
    border: 0px solid black;
    padding: 3px 5px;
    font-style: italic;
}

table.inputform tr {
    border: 0px solid black;
}

p.error {
    color: #E00;
}

p.success {
    color: #0E0;
}
