@import url('fonts/roboto.css');

@font-face {
    font-family: "LeagueGothic";
    src: url("fonts/League_Gothic-webfont.eot") format("embedded-opentype");
    src: local("ò∫"),
        url("fonts/League_Gothic.otf") format("opentype"),
        url("fonts/League_Gothic-webfont.woff") format("woff"),
        url("fonts/League_Gothic-webfont.ttf") format("truetype"),
        url("fonts/League_Gothic-webfont.svg#webfont") format("svg");
}

html {
    background-color: #000000;
    color: #CCC;
    padding: 0px;
}

body {
    width: 1024px;
    background-color: #323232;
    margin: 0px auto;
    /* Consider Roboto, Droid Sans, Georgia, Open Sans, PT Sans (Narrow) */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
}

div#content {
    padding: 0px 20px;
}

h1 {
    font-family: "LeagueGothic", "Helvetica", "Verdana", "Arial", sans-serif;
    font-size: 52px;
    font-weight: normal;
    color: #f3f3f3;
    border-bottom: 1px solid #bebebe;
}

table.inputform {
    border: 0px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    color: inherit;
}

table.inputform td {
    border: 0px solid black;
    padding: 3px 5px;
    font-style: italic;
}

table.inputform tr {
    border: 0px solid black;
}

p.error {
    /* color: #cc0000; */ /* Too dark; legible but not brighter red has better contrast */
    color: #ff4444;
}

p.success {
    /* color: #669900; */ /* Too dark; very muddy against dark background */
    color: #99cc00;
}

p b {
    color: white;
}
